.movies-grid {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

@supports (display: grid) {
    .movies-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }
}

.movies-grid__item {
    position: relative;
}

.movies-grid__link {
    display: block;
    padding: 20px;
    border-radius: 3px;
    color: inherit;
    text-decoration: none;
}

.movies-grid__link:hover {
    background-color: rgba(255,255,255,.05);
}

.movies-grid__title {
    margin-top: 10px;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 300;
}

.movies-grid__button {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    padding: 0;
}

.movies-grid__item:hover .movies-grid__button,
.movies-grid__button_active {
    display: block;
}

.movies-grid__item-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #4f5d75;
    font-size: 12px;
}

@media only screen and (max-width: 1199px) {
    .movies-grid__button {
        display: block;
    }
}
